<h1>About us</h1>
<div class="wrapper row2">
  <div id="container" class="clear">
      
    <div id="about-us" class="clear">
        
      <section id="team">
        <div id="quote">
          <blockquote>
            <p>Introduction</p>
          </blockquote>
          <p>Here is something about us and the project...</p>
        </div>
        <ul class="clear">
          <li class="one_quarter first">
            <figure><%= image_tag "members/piccocuile.jpg", width: '225', height: '215' %>
              <figcaption>
                <p class="team_name">Le Cui</p>
                <p class="team_description">Introduce yourself here...</p>
              </figcaption>
            </figure>
            <ul>
              <li><a href="#"><%= image_tag "social_media/Facebook-icon.png", width: '30', height: '30' %></a></li>
              <li><a href="#"><%= image_tag "social_media/Google-Plus-icon.png", width: '30', height: '30' %></a></li>
              <li><a href="#"><%= image_tag "social_media/Twitter-icon.png", width: '30', height: '30' %></a></li>
            </ul>
          </li>
          <li class="one_quarter">
            <figure><%= image_tag "members/team-member.gif", width: '225', height: '215' %>
              <figcaption>
                <p class="team_name">Shi Yin</p>
                <p class="team_description">Introduce yourself here...</p>
              </figcaption>
            </figure>
            <ul>
              <li><a href="#"><%= image_tag "social_media/Facebook-icon.png", width: '30', height: '30' %></a></li>
              <li><a href="#"><%= image_tag "social_media/Google-Plus-icon.png", width: '30', height: '30' %></a></li>
              <li><a href="#"><%= image_tag "social_media/Twitter-icon.png", width: '30', height: '30' %></a></li>
            </ul>
          </li>
          <li class="one_quarter">
            <figure><%= image_tag "members/team-member.gif", width: '225', height: '215' %>
              <figcaption>
                <p class="team_name">Jingran Xue</p>
                <p class="team_description">Introduce yourself here...</p>
              </figcaption>
            </figure>
            <ul>
              <li><a href="#"><%= image_tag "social_media/Facebook-icon.png", width: '30', height: '30' %></a></li>
              <li><a href="#"><%= image_tag "social_media/Google-Plus-icon.png", width: '30', height: '30' %></a></li>
              <li><a href="#"><%= image_tag "social_media/Twitter-icon.png", width: '30', height: '30' %></a></li>
            </ul>
          </li>
          <li class="one_quarter">
            <figure><%= image_tag "members/team-member.gif", width: '225', height: '215' %>
              <figcaption>
                <p class="team_name">Nitish Emmidi</p>
                <p class="team_description">Introduce yourself here...</p>
              </figcaption>
            </figure>
            <ul>
              <li><a href="#"><%= image_tag "social_media/Facebook-icon.png", width: '30', height: '30' %></a></li>
              <li><a href="#"><%= image_tag "social_media/Google-Plus-icon.png", width: '30', height: '30' %></a></li>
              <li><a href="#"><%= image_tag "social_media/Twitter-icon.png", width: '30', height: '30' %></a></li>
            </ul>
          </li>
          <li class="one_quarter first">
            <figure><%= image_tag "members/team-member.gif", width: '225', height: '215' %>
              <figcaption>
                <p class="team_name">Duc Anh Nguyen</p>
                <p class="team_description">Introduce yourself here...</p>
              </figcaption>
            </figure>
            <ul>
              <li><a href="#"><%= image_tag "social_media/Facebook-icon.png", width: '30', height: '30' %></a></li>
              <li><a href="#"><%= image_tag "social_media/Google-Plus-icon.png", width: '30', height: '30' %></a></li>
              <li><a href="#"><%= image_tag "social_media/Twitter-icon.png", width: '30', height: '30' %></a></li>
            </ul>
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
