<% provide(:title, "Forgot password") %>
<h1>Forgot password</h1>

<div class="login">
  <div class="heading">
    <%= form_for(:password_reset, url: password_resets_path) do |f| %>
      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <%= f.email_field :email, placeholder: "account associated email", class: 'form-control'%>
      </div>
      <!--<%= f.label :email %>-->
      <!--<%= f.email_field :email, class: 'form-control' %>-->

      <!--<%= f.submit "Submit", class: "float" %>-->
      <button type="submit" class="float">Send</button>
    <% end %>
  </div>
</div>